<!doctype html>
<!--[if lte IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Be Different Bootstrap Off Canvas Theme - Home</title>
    <meta name="description" content="Home : Be Different Bootstrap Theme - a different, unique theme with 10 different color combos. Built with Bootstrap, custom css3, html5, and plenty of excellent components, sliders, and other useful elements">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body>

<!-- +++++ No Script Fallback notice +++++ -->
<noscript>
<div>Turn on your JavaScript!</div>
</noscript>
<!-- accessibility skip to nav skip content -->
<ul class="sr-only" id="top">
    <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to Navigation</a></li>
    <li><a href="#page" title="Skip to content" accesskey="c">Skip to Content</a></li>
</ul>
<!--  /.sr-only accessibility--> 
<%= render 'layouts/header' %>
<%= render 'layouts/slideoutpanels' %>
<!-- =============== BEGIN #page ==============================-->
<div id="page"> 
    <!-- =========== PAGE HEADER ON ALL BUT INDEX PAGES =========================================================================== --> 
    <!-- _________ Page Header ___________ -->
    <div class="page-header-primary">
        <div class="container">
            <h2>Frequently Asked Questions</h2>
            <ol class="breadcrumb page-header-breadcrumb hidden-xs">
                <li><a href="index.html" class="link-underline">Home</a></li>
                <li class="active">Frequently Asked Questions</li>
            </ol>
        </div>
        <!-- /.container (for page-header-primary) --> 
    </div>
    <!-- /.page-header-primary --> 
    <!-- =========== BEGIN CONTENT FOR THE PAGE =========================================================================== -->
    <div class="page-content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-push-8">
                    <h4 class="title">Immortal Robot Bodies</h4>
                    <p>There’s a lot written about immortal robot bodies and how they’re the new rage. Religion can’t provide immortal robot bodies. Flying heads in bubbles are also becoming popular. The cost of preserving a head is much less than the entire body and at least you can keep your face. But with the immortal robot, after you die, your soul or spirit is digitized and your flesh body rots, but you don’t care, ‘cause having an immortal robot body is ultra cool and sexy. While you’re still on earth, your immortal robot body sits in storage ready for the fateful day. No, it doesn’t act like Dorian Gray, keeping you ageless and that kind of thing, but it does provide a great feeling of peace of mind. Order yours today!</p>
                    <p>Questions and Answers are CC by-sa 3.0 with attribution required and found on <a class="link-underline external" href="http://scifi.stackexchange.com/">scifi.stackexchange.com.</a></p>
                </div>
                <!-- /.col-sm-4 -->
                
                <div class="col-sm-8 col-sm-pull-4">
                    <div class="panel-group" id="faq-list">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#faq-list" href="#question-1"> When the hobbits get caught in the Barrow Downs by the Barrow Wights, Merry seems to have a vision where he gets killed by a wicked man of Carn Dum. Is it possible these men were black Numenoreans? If not, who were they? </a> </h4>
                            </div>
                            <!--/.panel-heading -->
                            <div id="question-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>According to the Tolkien Gateway, the Men of Angmar (and therefore of Carn Dûm - since Carn Dûm was the capital of Angmar I'm going to use the two interchangably) were not Black Númenoreans, but rather descended from the Easterlings of the First Age, presumably the people of Ulfang the Black (who betrayed Maedhros in the Nírnaeth Arnoediad). I'm not aware of any actual writing by Tolkien himself to support this claim, however. </p>
                                    <p>Credit: Question: <a class="link-underline external" href="http://scifi.stackexchange.com/users/31546/user31546">user31546</a> / Answer: <a class="link-underline external" href="http://scifi.stackexchange.com/users/8719/darth-satan">darth-satan</a> </p>
                                </div>
                                <!--/.panel-body --> 
                            </div>
                            <!--/.panel-collapse --> 
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#faq-list" href="#question-2"> With Thor referred to as a god in the Marvel universe, do modern day religions get any references in the Marvel universe, e.g. Christianity, Islam, Buddhism, etc? </a> </h4>
                            </div>
                            <!--/.panel-heading -->
                            <div id="question-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Religion often comes into play in the Marvel Universe where mutants are concerned.</p>
                                    <p>William Stryker is a religious fanatic, convinced that mutants are an abomination, and has attacked the mutants on a grand scale on many occasions. Bolivar Trask is a military scientist, but his work has often dovetailed into Stryker's plans, leading one to assume that religion factors into his anti-mutant positions.</p>
                                    <p>Trask's creations, Master Mold and the Sentinels, eventually lead to the development of Nimrod, named after a Genesis reference.</p>
                                    <p>Magneto has been viewed as a "god," both by himself and his followers, sometimes called "acolytes." They often employ a Catholic approach to their structure.</p>
                                    <p>Of the X-Men themselves, several members express one religion or another, which is somewhat unique in the MU; most other characters are not expressly affiliated with one religion or another.</p>
                                    <p>Nightcrawler is devoutly Catholic, Shadowcat is Jewish, Storm worships an African godess, Shaman, Forge, Thunderbolt and Warpath all pray to respective Native-American gods, etc.</p>
                                    <p>Then, there are the supporting characters: The Shi'ar, the Brood, the Phoenix worshippers, Apocalypse, etc.</p>
                                    <p>Outside of the mutants, the only instances I can think of that involve religious interactions are Daredevil, who is Catholic; Thing, who is Jewish; and Black Panther, who worships African gods.</p>
                                    <p>Credit: Question: <a class="link-underline external" href="http://scifi.stackexchange.com/users/4056/dlanod">dlanod</a> / Answer: <a class="link-underline external" href="http://scifi.stackexchange.com/users/5096/ty-morton">ty-morton</a> </p>
                                </div>
                                <!--/.panel-body --> 
                            </div>
                            <!--/.panel-collapse --> 
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#faq-list" href="#question-3"> Would Dumbledore and Severus really expel Harry? </a> </h4>
                            </div>
                            <!--/.panel-heading -->
                            <div id="question-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> I don't think there's any chance Dumbledore would have, unless Harry did something completely out of line that put other students in danger. Apart from him knowing that Harry would be returning to a bad life with the Dursleys if he weren't attending Hogwarts (the Weasleys could potentially take him in, but that would break Lily's protection of him prematurely) Dumbledore knew of the prophecy concerning Harry and Voldemort, and that Harry was thus key to defeating Voldemort. Denying him an education in magic and casting him out into the world would have virtually ensured Voldemort's victory upon returning. </p>
                                    <p>Credit: Question: <a class="link-underline external" href="http://scifi.stackexchange.com/users/36050/jake">jake</a> / Answer: <a class="link-underline external" href="http://scifi.stackexchange.com/users/39225/tarchibald">tarchibald</a> </p>
                                </div>
                                <!--/.panel-body --> 
                            </div>
                            <!--/.panel-collapse --> 
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#faq-list" href="#question-4"> Where does “magic” come from in LOTR? </a> </h4>
                            </div>
                            <!--/.panel-heading -->
                            <div id="question-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> Magic is inherent in the actions of all creatures in Middle-Earth. This comes up a few times in LoTR, especially when the Hobbits are out and about meeting new people. They see "magic" in the everyday actions of the Elves, while overlooking their own "magic" (being able to pass silently, for example). </p>
                                    <p>Credit: Question: <a class="link-underline external" href="http://scifi.stackexchange.com/users/20154/gelfamat">gelfamat</a> / Answer: <a class="link-underline external" href="http://scifi.stackexchange.com/users/1266/mark-bessey">mark-bessey</a> </p>
                                </div>
                                <!--/.panel-body --> 
                            </div>
                            <!--/.panel-collapse --> 
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#faq-list" href="#question-5"> Is “Second Breakfast” only in the movie version of LOTR? </a> </h4>
                            </div>
                            <!--/.panel-heading -->
                            <div id="question-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> No, it's in the books as well. </p>
                                    <p>Credit: Question: <a class="link-underline external" href="http://scifi.stackexchange.com/users/13442/james-jenkins">james-jenkins</a> / Answer: <a class="link-underline external" href="http://scifi.stackexchange.com/users/20774/richard">richard</a> </p>
                                </div>
                                <!--/.panel-body --> 
                            </div>
                            <!--/.panel-collapse --> 
                        </div>
                        <!-- /.panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#faq-list" href="#question-6"> What does LOTR stand for? </a> </h4>
                            </div>
                            <!--/.panel-heading -->
                            <div id="question-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> Lord of The Rings </p>
                                </div>
                                <!--/.panel-body --> 
                            </div>
                            <!--/.panel-collapse --> 
                        </div>
                        <!-- /.panel --> 
                    </div>
                    <!-- /.panel-group --> 
                </div>
                <!-- /.col-sm-8 --> 
            </div>
            <!-- /.row --> 
        </div>
        <!-- /.container --> 
        
    </div>
    <!-- /.page-content role=main --> 
    <!--=========== END CONTENT FOR THE PAGE ============================================================ --> 
</div>
<!-- ================== END #page ================= --> 
<%= render 'layouts/footer' %>
</body>
</html>