<!doctype html>
<!--[if lte IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Be Different Bootstrap Off Canvas Theme - Home</title>
    <meta name="description" content="Home : Be Different Bootstrap Theme - a different, unique theme with 10 different color combos. Built with Bootstrap, custom css3, html5, and plenty of excellent components, sliders, and other useful elements">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body>

<!-- +++++ No Script Fallback notice +++++ -->
<noscript>
<div>Turn on your JavaScript!</div>
</noscript>
<!-- accessibility skip to nav skip content -->
<ul class="sr-only" id="top">
    <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to Navigation</a></li>
    <li><a href="#page" title="Skip to content" accesskey="c">Skip to Content</a></li>
</ul>
<!--  /.sr-only accessibility--> 
<%= render 'layouts/header' %>
<%= render 'layouts/slideoutpanels' %>
<!-- =============== BEGIN #page ==============================-->
<div id="page"> 
    <!-- =========== PAGE HEADER ON ALL BUT INDEX PAGES =========================================================================== --> 
    <!-- _________ Page Header ___________ -->
    <div class="page-header-primary">
        <div class="container">
            <h2>Portfolio Detail</h2>
            <ol class="breadcrumb page-header-breadcrumb hidden-xs">
                <li><a href="index.html" class="link-underline">Home</a></li>
                <li> <a class="link-underline" href="portfolio-masonry.html"> Portfolio</a> </li>
                <li class="active">Portfolio Detail</li>
            </ol>
        </div>
        <!-- /.container (for page-header-primary) --> 
    </div>
    <!-- /.page-header-primary --> 
    <!-- =========== BEGIN CONTENT FOR THE PAGE =========================================================================== -->
    <div class="page-content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-push-8">
                    <h2 class="no-margin-top">Project Title</h2>
                    <!--no-margin-top so that it's flush to the top aligned with slider -->
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
                    <p>Images Credit: <a class="link-underline external link-color-inherit" href="http://graphicburger.com/mock-ups/">Graphic Burger</a></p>
                    <!-- pager -->
                    <ul class="pager text-left">
                        <li><a href="#" title="fake link"><i class="ti ti-arrow-left"></i> Older Projects</a></li>
                        <li><a href="#" title="fake link">Newer Projects <i class="ti ti-arrow-right"></i></a></li>
                    </ul>
                </div>
                <!-- /.col-x-x -->
                <div class="col-sm-8 col-sm-pull-4">
                    <div class="portfolio-thumb-slider loading-slick">
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/1-thumb.jpg" alt="" /> </div>
                        <!--/slick-slider-item-->
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/2-thumb.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/3-thumb.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/4-thumb.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/5-thumb.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/6-thumb.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/7-thumb.jpg" alt="" /> </div>
                    </div>
                    <!-- .portfolio-thumb-slider -->
                    <div class="portfolio-item-slider slick-dots-left loading-slick">
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/1.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/2.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/3.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/4.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/5.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/6.jpg" alt="" /> </div>
                        <div class="slick-slider-item"> <img src="assets/demo-images/portfolio/7.jpg" alt="" /> </div>
                    </div>
                    <!-- .portfolio-item-slider --> 
                </div>
                <!-- /.col-x-x --> 
            </div>
            <!-- /.row --> 
        </div>
        <!-- /.container --> 
    </div>
    <!-- /.page-content role=main --> 
    <!--=========== END CONTENT FOR THE PAGE ============================================================ --> 
</div>
<!-- ================== END #page ================= --> 
<%= render 'layouts/footer' %>
</body>
</html>